/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	color: white;
	line-height: 1.7; }
h1 {
	font-size: 5.5rem; }
h2 {
	font-size: 1.6875rem; }
h3 {
	font-size: 1.375rem; }
h4 {
	font-size: 1.125rem; }
h5 {
	font-size: 1.125rem; }
h6 {
	font-size: 1rem; }

/* Base element styles */
body, html {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

body, html, nav {
	min-width: 960px;
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 2rem 0;
	list-style: disc;
	padding-left: 2rem;
}

ul li {
	padding: 0.5rem 0;
}

p {
	padding: 3rem 0;
	line-height: 1.7;
}

.content {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
}

.jumbotron {
	position: relative;
	overflow: hidden;
	height: 675px;
}


/* Navbar Styles */
nav {
	height: 60px;
	width: 100%;
	/*
	position: fixed;
	top: 0;
	*/
	background-color: rgba(0,0,0,0.75);
	z-index: 200;
}

nav ul {
	height: 60px;
	margin: 0;
	padding: 0;
	display: inline-block;;
	font-size: 0;
	list-style: none;
}

nav ul.right { float: right; }

nav ul li {
	font-size: 14px;
	padding: 0;
	display: inline-block;
}

/* nav ul li.action-item {
	color: white;
	background-color: #0fa8f7;
}
nav ul li.action-item:hover {
	color: white;
	background-color: #00b0ff;
}
*/

nav ul li:hover {
	cursor: pointer;
	background-color: #6d3572;
}

nav ul li p {
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 15px 15px;
	color: white;
	font-weight: 300;
}

/* General Things */
body {
	background: url(../img/blur-bg.jpg)
		#34201f
		50% 0
		fixed;
	z-index: -3;
}

.content { width: 80%; }

section .content { background-color: rgba(0,0,0,0.8); }

section p {
	color: white;
	padding-top: 50px;
	padding-left: 14px;
	padding-right: 14px;
	font-weight: 300;
}

section h2 {
	font-weight: 300;
	padding-left: 14px;
	padding-top: 35px;
	padding-bottom: 14px;
}