/* See base.css for navbar styling and other general styles
related to the body, headers, etc. */

/* Jumbotron */
#gallery {
	margin-top: 60px;
	height: 615px;
	z-index: 10;
}

#gallery:hover { cursor: pointer; }

.vignette {
	background: radial-gradient(transparent, rgba(0,0,0,1));
	top: 0rem;
	margin-top: 60px;
	width: 80%;
	height: 615px;
	position: absolute;
	z-index: -1;
	max-width: 1500px;
}

.jumbotron-image {
	top: 0rem;
	bottom: 0rem;
	width: 80%;
	margin-top: 60px;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: -2;
	max-width: 1500px;
}

#img1,#img2,#img3,#img4,#img5 { display: none; }

.jumbotron h1 {
	position: relative;
	color: white;
	padding-top: 15rem;
	padding-left: 8rem;
	margin-bottom: 3rem;
	font-weight: 300;
	z-index: 50;
}

#next-arrow {
	background: url(../img/next-arrow.png) no-repeat;
	-webkit-filter: invert(10%);
	filter: invert(10%);
	right: 10%;
	width: 73px;
	height: 73px;
	bottom: 250px;
	position: absolute;
	z-index: 100;
}

#prev-arrow {
	background: url(../img/prev-arrow.png) no-repeat;
	-webkit-filter: invert(10%);
	filter: invert(10%);
	left: 10%;
	width: 73px;
	height: 73px;
	bottom: 250px;
	position: absolute;
	z-index: 100;
}

#next-arrow:hover,#prev-arrow:hover {
	cursor: pointer;
	-webkit-filter: invert(100%);
	filter: invert(100%);
	background-color: #92ca8d;
}

.dots-nav {
	bottom: 50px;
	left: 46.5%;
	-webkit-filter: invert(80%);
	filter: invert(80%);
	list-style: none;
	display: inline-block;
	position: relative;
	z-index: 100;
}

#dot0 { -webkit-filter: invert(0%); filter: invert(0%); }

.dots-nav:hover {
	cursor: pointer;
	-webkit-filter: invert(0%) !important;
	filter: invert(0%);
}

/* Everything else */
<<<<<<< HEAD
.img-grid { 
=======
.columns {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
>>>>>>> origin/master
	padding-left: 4px;
	padding-right: 4px;
}

figure {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}

#game-tile { 
	margin-bottom: 30px; 
	display: inline-block;
	position: relative;
	width: 33.33%;
}

#game-img {
	max-width: 100%;
	display: block;
	position: relative;
}

#game-tile #figcaption {
	background-size: contain;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	color: white;
}

#game-tile #figcaption p{
	padding: 10px;
	line-height: 1.4;
}

#game-tile #figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: purple;
	color: white;
}

#game-name {
	padding: 0px;
	padding-top: 5px;
	padding-left: 15px;
	float: left;
}

#game-price {
	padding: 0px;
	padding-top: 5px;
	padding-right: 5px;
	float: right;
}

.hover-style #figcaption {
	height: 100%;
	width: 100%;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

#game-tile:hover .hover-style #figcaption { 
	cursor: pointer;
	opacity: 1;
}

#trending .content { background-color: rgba(0,0,0,0.75); }


/* Footer */
footer .content {
	background-color: rgba(255,255,255,0.5);
	color: #411f44;
}

footer ul { margin: 0; }