<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Garnett</title>
    <!-- Basic page styling -->
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <!-- User styling -->
    <link rel="stylesheet" type="text/css" href="css/browseStyle.css">
    <!-- FONT -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <!-- jQuery and Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/database.js"></script>
    <script src="js/hexagon.js" defer></script>
  </head>

  <body  ng-app="browseApp">
    <nav>
      <div class="content">
        <ul>
          <li class="action-item"><a href="/"><p>SANDBOX</p></a></li>
          <li><a href="/browse.html"><p>Browse</p></a></li>
          <li><a href="#something"><p>About</p></a></li>
        </ul>
        <ul class="right">
          <li><a href="#signin"><p>Sign In</p></a></li>
        </ul>
      </div>
    </nav>

    <div class="browse content">
      <h1>Browse</h1>
    </div>

    <div class="content game-content"  ng-controller="browseController">
      <div class="filters">
        <div class="filter-block">
          <div class="filter-block-header">
            <h3>Genres</h3>
          </div>
          <div class="filter-block-filters">
            <form>
              <input type="checkbox" class="custom-checkbox" ng-click="addFilter('action')">Action<br>
              <input type="checkbox" class="custom-checkbox" ng-click="addFilter('adventure')">Adventure<br>
              <input type="checkbox" class="custom-checkbox" ng-click="addFilter('rpg')">RPG<br>
              <input type="checkbox" class="custom-checkbox" ng-click="addFilter('fps')">FPS<br>
            </form>
          </div>
        </div>
        <div class="filter-block">
          <div class="filter-block-header">
            <h3>Mode</h3>
          </div>
          <div class="filter-block-filters">
            <form>
              <input type="checkbox" class="custom-checkbox" ng-click="addFilter('sp')">Single Player
              <br>
              <input type="checkbox" class="custom-checkbox" ng-click="addFilter('mp')">Multiplayer
              <br>
            </form>
          </div>
        </div>
      </div>

      <ul class="grid">
        <li class="game-card" ng-repeat="game in games | filter:gameFilter"  ng-style="{'background-image': 'url(' + game.cover + ')'}">
          <div class="game-info">
            <div class="game-details">
              <h2>{{ game.name }}</h2>
              <p>Developer: {{ game.dev }}</p>
              <button class="btn btn-1 btn-1a">Learn More</button>
            </div>
            <div class="hex-ratings-vert">
              <p>G: {{ game.ratings[0] }}</p>
              <p>C: {{ game.ratings[1] }}</p>
              <p>U: {{ game.ratings[2] }}</p>
              <p>A: {{ game.ratings[3] }}</p>
              <p>S: {{ game.ratings[4] }}</p>
              <p>M: {{ game.ratings[5] }}</p>
            </div>
          </div>
          <h2>{{ game.name }}</h2>
        </li>
      </ul>
    </div>

    <footer>
      <div class="content">
        <a href="#">About Us</a>
        <a href="#">Terms</a>
      </div>
    </footer>
    <!-- Modules -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/browseController.js"></script>
  </body>

</html>
